<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>${user.firstName + ' '+user.lastName}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" href="../../favicon.ico"/>
        <script src="/jquery/jquery-1.11.3.min.js"></script>
            <!-- Custom styles for this template -->
            <!-- Bootstrap core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <!-- Bootstrap theme -->
        <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>    
        <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css"/>
        <script type="text/javascript" language="javascript" src="/js/jquery.dataTables.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

         <link href="/css/main.css" rel="stylesheet"/>
    </head>

    
      <body role="document">

    <!-- Fixed navbar -->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">

                    </div>
                </div>
            </nav>
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading">Task Summary For Week</div>
                        <div class="panel-body">
                            <div class="starter-template">
                                <p th:text="${user.firstName + ' '+user.lastName}"></p>
                                <p th:text="${weekBeginning}" id="weekBeginningText"></p>
                                <div class="table-responsive">
                                    <table width="100%" id="table1">
                                        <thead>
                                            <th>Project</th>
                                            <th>Task</th>
                                            <th>Sun</th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                            <th>Sat</th>
                                            <th>Week Total</th>
                                        </thead>
                                            <tr th:each="weekRow : ${allEntries}">
                                                <td><p th:text="${weekRow.project.name}"></p></td>
                                                <td><p th:text="${weekRow.task.description}"></p></td>
                                                <td><a th:text="${weekRow.day1Total}" th:unless="${weekRow.day1Total == null}" onclick="javascript:test()"></a></td>
                                                <td><a th:text="${weekRow.day2Total}" th:unless="${weekRow.day2Total == null}" ></a></td>
                                                <td><a th:text="${weekRow.day3Total}" th:unless="${weekRow.day3Total == null}" ></a></td>
                                                <td><a th:text="${weekRow.day4Total}" th:unless="${weekRow.day4Total == null}" ></a></td>
                                                <td><a th:text="${weekRow.day5Total}" th:unless="${weekRow.day5Total == null}" ></a></td>
                                                <td><a th:text="${weekRow.day6Total}" th:unless="${weekRow.day6Total == null}" ></a></td>
                                                <td><a th:text="${weekRow.day7Total}" th:unless="${weekRow.day7Total == null}" ></a></td>
                                                <td><a th:text="${weekRow.weekTotal}"></a></td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                            <div class="panel-heading">Add Task Activity For Week</div>
                            <div class="panel-body">
                                <form class="form-horizontal">                          
                            <DIV class="form-group">
                                <DIV class="row" style="margin-top: 20px">
                                    <DIV class="col-xs-1"></DIV><DIV class="col-xs-1">Project</DIV><DIV class="col-xs-4"><select class="form-control" id="addProject" ></select></DIV>
                                    <DIV class="col-xs-1">Task</DIV><DIV class="col-xs-4"><SELECT class="form-control" id="addTask" ></SELECT></DIV><DIV class="col-xs-1"></DIV>                                    
                                </DIV>
                                <DIV class="row" style="margin-top: 20px">
                                    <DIV class="col-xs-1"></DIV><DIV class="col-xs-1">Description</DIV><DIV class="col-xs-9" ><input value="" type="text" class="form-control" id="description" /></DIV><DIV class="col-xs-1"></DIV>
                                </DIV>
                            </DIV>
                            <div class="form-group">
                                <DIV class="row center">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-1">Sun</div>
                                    <div class="col-xs-1">Mon</div>
                                    <div class="col-xs-1">Tue</div>
                                    <div class="col-xs-1">Wed</div>
                                    <div class="col-xs-1">Thu</div>
                                    <div class="col-xs-1">Fri</div>
                                    <div class="col-xs-1">Sat</div>
                                    <div class="col-xs-1">Week Total</div>
                                    <div class="col-xs-2"></div>
                                </DIV>
                                <DIV class="row center">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-1"><input value="0.0" type="text" class="form-control" id="addSun" required="true" /></div>
                                    <div class="col-xs-1"><input value="0.0" type="text" class="form-control" id="addMon" required="true" /></div>
                                    <div class="col-xs-1"><input value="0.0" type="text" class="form-control" id="addTue" required="true" /></div>
                                    <div class="col-xs-1"><input value="0.0" type="text" class="form-control" id="addWed" required="true" /></div>
                                    <div class="col-xs-1"><input value="0.0" type="text" class="form-control" id="addThu" required="true" /></div>
                                    <div class="col-xs-1"><input value="0.0" type="text" class="form-control" id="addFri" required="true" /></div>
                                    <div class="col-xs-1"><input value="0.0" type="text" class="form-control" id="addSat" required="true" /></div>
                                    <div class="col-xs-1" id="weekTotal"></div>
                                    <div class="col-xs-2"><button type="button" class="btn btn-default" id="addNew">Add New</button></div>
                                </DIV>
                            </div>
                        </form>
                            </div>
                        </div>
                </div>
                  
    </body>

<script language = "javascript">
$( document ).ready(function() {
  // Handler for .ready() called.
  defaultSelect ='--Please Select--';
  $('#table1').DataTable();
  initiateTasks();
  populateProjects();
  $( "#addNew" ).click(function() {
    postEntries();
  }); 
  $('#addProject').change(function (){populateTask();});
});


</script>

<script language = "javascript">
    
    function initiateTasks(){
       select = document.getElementById('addTask');
       select.options.add(new Option(defaultSelect, '0'));
    }
    
    function populateProjects(){
       
        $.getJSON('/lookup/getProjects',
             function(json) {
                updateSelect(json, 'addProject');
            });
    }
    
    function populateTask(){
        
         var taskId = $('#addProject').val();
         
         if(taskId != null){
            $.getJSON('/lookup/getTasksByProjectId/'+taskId,
                function(json) {
                   updateSelect(json, 'addTask');
               });
         }   
    }

  
    function updateSelect(json, elementId){
        
        var name, select, option;

        // Get the raw DOM object for the select box
        select = document.getElementById(elementId);
        //select = $('#addProject');
        
        // Clear the old options
        select.options.length = 0;
        select.options.add(new Option(defaultSelect, '0'));
        // Load the new options
        for (name in json) { 
          if (json.hasOwnProperty(name)) {
            select.options.add(new Option(json[name], name));
          }
        }
    }
    
    function createSingleEntry(dateString, element, reference){
        var value = $.valueOf(element);
        var jsonEntry;

        return jsonEntry;
        
    }
    
    
    function postEntries(){
        var reference = $('#description').val();
        var weekBeginningString = $('#weekBeginningText').text();
        var yyyy = weekBeginningString.substring(0,4);
        var mm = weekBeginningString.substring(5,7);
        var dd = weekBeginningString.substring(8,10);
        var startDate = new Date(weekBeginningString);
    
        alert(weekBeginningString);
        alert(startDate);
        
    }
    
    
</script>

</html>
